{{!
    @template mod_simplelesson/lesson_editing
    Renders a summary of the pages in the lesson and editing functions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * mform html string representing a moodleform

    Example context (json):
    {
        "caption": {
          "caption": "This table"
        }
        "table": {
          "tableheaders": ["header 1", "header2", ...]
          "tabledata": [ ["item1, item2, ..."], ["item1, item2, ..."] ]
        }
    }
}}
<div class="container-sm">
  <h3>{{#str}}add_question, mod_simplelesson{{/str}}</h3>
  <p>{{#str}}add_question_help, mod_simplelesson{{/str}}</p>
  {{{mform}}}
</div>
