{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_simplelesson/management
    Renders the simplelesson editing.management buttons

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * addpage String of formatted html representing a url

    Example context (json):
        {
            "addpage": "https://yourmoodle/mod/yourmod/somepage.php?id=x"
        }
}}
<div class="card mt-2">
  <div class="card-body">
    <p class="text-info font-weight-bold">{{#str}}managing, simplelesson{{/str}}</p>
    <!-- Managing pages -->
    <a href="{{{addpage}}}"button type="button" class="btn btn-primary btn-sm">
         {{#str}}add_page, simplelesson{{/str}}</a>
    {{#edit}}
      <a href="{{{editpage}}}"button type="button" class="btn btn-primary btn-sm">
           {{#str}}edit_page, simplelesson{{/str}}</a>
    {{/edit}}
    {{#delete}}
    <a href="{{{deletepage}}}"button type="button" class="btn btn-primary btn-sm">
         {{#str}}delete_page, simplelesson{{/str}}</a>
    {{/delete}}
    <!-- Manage the lesson -->
    <a href="{{{editlesson}}}"button type="button" class="btn btn-primary btn-sm">
         {{#str}}manage_pages, simplelesson{{/str}}</a>
  </div>
</div>