{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_simplelesson/navigation
    Renders the simplelesson nav buttons that are required for particular pages

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * home boolean whether to show the home page button
    * homeurl string html representing a Moodle url
    * review boolean whether to show the home page button with review as label
    * addq boolean whether to show the add page button
    * addurl string html representing a Moodle url
    * auto boolean whether to show the autosequence pages button
    * autourl string html representing a Moodle url
    * prev boolean whether to show the next page button
    * prevurl string html representing a Moodle url
    * next boolean whether to show the previous page button
    * nexturl string html representing a Moodle url
    * summary boolean whether to show the summary page button
    * summaryurl string html representing a Moodle url
    * preview boolean whether to show the preview button
    * previewurl string html representing a Moodle url
    * attempt boolean whether to show the attempt button
    * attempturl string html representing a Moodle url
    Example context (json):
    {
      "home": "true"
      "homeurl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "review": "true"
      "addq": "true"
      "addurl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "auto": "true"
      "autourl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "prev": "true"
      "prevurl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "next": "true"
      "nexturl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "summary": "true"
      "summaryurl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "preview": "true"
      "previewurl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
      "attempt": "true"
      "attempturl": "https://yourmoodle/mod/yourmod/somepage.php?id=1"
    }
}}
<div class="container ml-2 mb-2 mt-2">
  {{#home}}
    <a href="{{{homeurl}}}"button type="button" class="btn btn-secondary btn-sm">
        {{#str}}home, simplelesson{{/str}}</a>
  {{/home}}
  {{#review}}
    <a href="{{{homeurl}}}"button type="button" class="btn btn-secondary btn-sm">
        {{#str}}finishreview, simplelesson{{/str}}</a>
  {{/review}}
  <!-- for the lesson editing page normally add page is part of managepage template -->
  {{#addpagelesson}}
    <a href="{{{addurl}}}"button type="button" class="btn btn-primary btn-sm">
        {{#str}}add_page, simplelesson{{/str}}</a>
  {{/addpagelesson}}
  {{#auto}}
    <a href="{{{autourl}}}"button type="button" class="btn btn-secondary btn-sm">
        {{#str}}autosequencelink, simplelesson{{/str}}</a>
  {{/auto}}
  {{#managequestions}}
    <a href="{{{editquestions}}}"button type="button" class="btn btn-secondary btn-sm"
              data-toggle="modal" action="post" data-target="#simplelesson_edit_questions_modal">
              {{#str}}manage_questions, simplelesson{{/str}}</button>
    </a>
  {{/managequestions}}
  <!-- standard navigation links -->
  {{#prev}}
    <a href="{{{prevurl}}}"button type="button" class="btn btn-secondary btn-sm">
        {{#str}}prevpage, simplelesson{{/str}}</a>
  {{/prev}}
  {{#next}}
    <a href="{{{nexturl}}}"button type="button" class="btn btn-secondary btn-sm">
        {{#str}}nextpage, simplelesson{{/str}}</a>
  {{/next}}
  <!-- Page after attempt completed -->
  {{#summary}}
    <a href="{{{summaryurl}}}"button type="button" class="btn btn-secondary btn-sm">
        {{#str}}end_lesson, simplelesson{{/str}}</a>
  {{/summary}}
  <!-- Button on home page -->
  {{#attempt}}
    <a href="{{{attempturl}}}"button type="button" class="btn btn-primary btn-sm">
        {{#str}}attempt, simplelesson{{/str}}</a>
  {{/attempt}}
</div>
{{> simplelesson/edit_questions}}
