{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_simplelesson/reportsmenu
    Renders the simplelesson reports links

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * answersurl string of formatted html representing a url
    * attemptsurl string of formatted html representing a url
    * gradingurl string of formatted html representing a url

    Example context (json):
        {
          "answersurl": {"https://yourmoodle/mod/yourmod/somepage.php?id=1"},
          "attemptsurl": {"https://yourmoodle/mod/yourmod/somepage.php?id=1"},
          "gradingurl": {"https://yourmoodle/mod/yourmod/somepage.php?id=1"}
        }
}}
<div class="container ml-2 mb-2 mt-2">
    <a href="{{{answersurl}}}" class="pr-5">{{#str}}answer_report, simplelesson{{/str}}</a>
    <a href="{{{attemptsurl}}}" class="pr-5">{{#str}}attempt_report, simplelesson{{/str}}</a>
    <a href="{{{gradingurl}}}" class="pr-5">{{#str}}manual_grade, simplelesson{{/str}}</a>
</div>