{{!
    @template mod_simplelesson/select_question_form
    Renders a list of available questions and returns the selected one.

    Context variables required for this template:
    *actionurl string representing url of page to post form response to
    *courseid int the course id
    *simplelessonid int the simplelesson ind
    *sequence int the sequence number of the page
    *sesskey string the session key
    *headers string array of table headers
    *tabledata 2D string array of records for the table body

    Example context (json):
    {
      "actionurl": "/simplelesson/add_question.php",
      "courseid" : "1",
      "simplelessonid" : "1",
      "sequence" : "1",
      "sesskey": "XYZ9_",
      "headers": "["header1", "headers2"]",
      "tabledata": "[["row1", "row1"], ["row2", "row2"]]"
    }
}}
<div class="container-sm">
  <form id="simplelesson_select_question_form" method="post" action="{{{actionurl}}}" enctype="multipart/form-data")>
    <div>
      <input type="hidden" name="courseid" value="{{courseid}}">
      <input type="hidden" name="simplelessonid" value="{{simplelessonid}}">
      <input type="hidden" name="sequence" value="{{sequence}}">
      <input type="hidden" name="sesskey" value="{{sesskey}}">
    </div>
    <h3>{{#str}} add_question, mod_simplelesson {{/str}}</h3>
    <p>{{#str}} add_question_help, mod_simplelesson {{/str}}</p>
    <table class="table table-striped table-sm">
      <thead>
        {{#headers}}
          <th>{{.}}</th>
        {{/headers}}
      </thead>
      <tbody>
        {{#tabledata}}
          {{> mod_simplelesson/question_row}}
        {{/tabledata}}
      </tbody>
    </table>
    <p>{{#str}} questionscore_help, mod_simplelesson {{/str}}</p>
    <div class="form-group">
      <label for="score">Score:</label>
      <input type="text" class="form-control" value="1" name="score" id="score">
    </div>
    <button type="submit" class="btn btn-primary">{{#str}}select_question, mod_simplelesson{{/str}}</button>
  </form>
</div>
